<div layout="column" layout-align="start" class="mainHeight" style="overflow: auto">
    <div layout="row" layout-align="start" flex>
        <div class="aboutFontSize" layout="column" layout-align="center" flex-sm="100" flex-md="90" flex-lg="90 " flex-gt-lg="50"
            style=";overflow-y: auto">
            <div class="md-whiteframe-z5" style=" background-color:#474747;margin: 10px">
                <div style="color: #A0A0A0;margin:20px" flex>{{::info.about}}</div>
            </div>
        </div>
    </div>
</div>