<md-toolbar hide-sm hide-md hide-lg layout="row" ng-show="!ie" class="animated fadeInDown headerHeight" style="background-color: #474747;outline:none" flex>
    <div  ui-sref="main" flex="10"  style="margin:auto auto auto 30px;cursor: pointer;font-size: 200%;font-weight: 800" flex>J D</div>
    <div flex="30"></div>
    <div layout="row" layout-align="space-around" flex>
        <div ui-sref-active="selected" class="menuitem" ui-sref="main.skills"  flex>Skills</div>
        <div ui-sref-active="selected" class="menuitem" ui-sref="main.about"  flex>About</div>
        <div ui-sref-active="selected" class="menuitem" ui-sref="main.experience"  flex>Experience</div>
        <div ui-sref-active="selected" class="menuitem" ui-sref="main.contact"  flex>Contact</div>
    </div>


</md-toolbar>
<md-toolbar hide-gt-lg layout="row" ng-show="!ie" class="animated fadeInDown headerHeight" style="background-color: #474747;outline:none">
    <div ui-sref="main" ng-click="toggle()" style="margin:auto auto auto 30px;cursor: pointer;font-size: 175%;font-weight: 800;outline:none" flex>J D</div>

</md-toolbar>

<md-toolbar hide-sm hide-md hide-lg layout="row" ng-show="ie" class="animated fadeInDown" style="background-color: #474747;outline:none">
    <div  ui-sref="main" flex="10"  style="margin:20px;cursor: pointer;font-size: 200%;font-weight: 800" >J D</div>
    <div flex="30"></div>
    <div layout="row" layout-align="space-around" flex>
        <div ui-sref-active="selected" class="menuitemIe" ui-sref="main.skills"  flex>Skills</div>
        <div ui-sref-active="selected" class="menuitemIe" ui-sref="main.about"  flex>About</div>
        <div ui-sref-active="selected" class="menuitemIe" ui-sref="main.experience"  flex>Experience</div>
        <div ui-sref-active="selected" class="menuitemIe" ui-sref="main.contact"  flex>Contact</div>
    </div>


</md-toolbar>
<md-toolbar hide-gt-lg layout="row" ng-show="ie" class="animated fadeInDown" ng-click="toggle()" style="background-color: #474747;height:10vh;outline:none">
    <div  ui-sref="main"  style="margin:20px;cursor: pointer;font-size: 175%;font-weight: 800" flex>J D</div>

</md-toolbar>