<div layout="row" layout-align="center center" style="height:100vh" class="animated fadeIn">
    <div flex-lg="30" flex-gt-lg="20" flex-md="65" flex-sm="100" style="padding: 0">
        <md-card class="md-whiteframe-z5">
            <md-toolbar layout="column" layout-align="space-between" style="background-color: #474747;">
                <div style="margin: auto" ><i class="fa fa-4x fa-television"></i></div>
                <h3 style="margin: auto">CV 2.0</h3>
            </md-toolbar>
            <div style="margin: 30px">
                <form name="form" ng-submit="login(form)" novalidate>
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" ng-model="user.email">
                    </md-input-container>
                    <md-input-container style="padding-bottom: 0">
                        <label>Password</label>
                        <input type="password" ng-model="user.password">
                    </md-input-container>
                    <div>
                        <p ng-show="form.email.$error.required && form.password.$error.required && submitted">
                            Please enter your email and password.
                        </p>

                        <p>{{ errors.other }}</p>
                    </div>
                    <div layout="row" class="pad">
                        <md-button aria-label="Login" class="md-raised md-primary" type="submit" style="background-color: #474747;" flex>
                            Login
                        </md-button>
                    </div>
                </form>
                <md-divider></md-divider>
            </div>

        </md-card>
    </div>
</div>
