<div class="md-whiteframe-z2" layout="column" style="overflow:hidden;background-color:#EDEDED" flex>
    <div class="flexStyle"  >
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center">
                <img class="iconheight d4 animated bounceInDown" src="/images/css3.svg" alt="sorry no pic for you!" style="margin:10px;opacity:1"/>
                <img class="iconheight d1 animated bounceInDown" src="/images/js.jpg" alt="sorry no pic for you!" style="margin:10px"/>
                <img class="iconheight d7 animated bounceInDown" src="/images/html5-color.svg" alt="sorry no pic for you!" style="margin:10px"/>
            </div>
            <div layout="column" layout-align="center">
                <img class="iconheight d25 animated bounceInUp" style="" src="/images/nginx.svg" alt="sorry no pic for you!"/>
            </div>
            <div layout="row" layout-align="center">
                <img class="iconheight d20 animated bounceInUp" src="/images/redis.svg" alt="sorry no pic for you!"/>
                <img class="iconheight d20 animated bounceInUp" src="/images/socketio.svg" alt="sorry no pic for you!"/>
            </div>
            <div layout="row" layout-align="center">
                <img class="iconheight d14 animated bounceInRight" src="/images/mongo.svg" alt="sorry no pic for you!" style="margin:10px"/>

                <div class="iconheight d16 animated bounceInRight express">E</div>
                <img class="iconheight d18 animated bounceInRight" src="/images/angular.svg" alt="sorry no pic for you!" style="margin:10px"/>
                <img class="iconheight d20 animated bounceInRight" src="/images/node.svg" alt="sorry no pic for you!" style="margin:10px"/>
            </div>
            <div layout="row" layout-align="center">
                <img class="iconheight d29 animated fadeIn" src="/images/gulp.png" alt="sorry no pic for you!" style="margin:10px"/>
                <img class="iconheight d31 animated fadeIn" src="/images/git.png" alt="sorry no pic for you!" style="margin-left:20px"/>
                <img class="iconheight d33 animated fadeIn" src="/images/PostgreSQL.svg" alt="sorry no pic for you!" style="margin:10px"/>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-chips layout-align="center center" >
                <md-chip  class="chip d37 animated flipInX">Javascript</md-chip>
                <md-chip  class="chip d38 animated flipInX">CSS3</md-chip>
                <md-chip  class="chip d39 animated flipInX">HTML5</md-chip>
                <md-chip  class="chip d40 animated flipInX">NGINX</md-chip>
                <md-chip  class="chip d41 animated flipInX">Redis</md-chip>
                <md-chip  class="chip d42 animated flipInX">Socket.io</md-chip>
                <md-chip  class="chip d43 animated flipInX"><b style="font-weight: 900">M</b>ongoDB
                </md-chip>
                <md-chip  class="chip d44 animated flipInX"><b style="font-weight: 900">E</b>xpress
                </md-chip>
                <md-chip  class="chip d45 animated flipInX"><b style="font-weight: 900">A</b>ngular
                </md-chip>
                <md-chip  class="chip d46 animated flipInX"><b style="font-weight: 900">N</b>ode.js
                </md-chip>
                <md-chip  class="chip d47 animated flipInX">Gulp</md-chip>
                <md-chip  class="chip d48 animated flipInX">Git</md-chip>
                <md-chip  class="chip d49 animated flipInX">PostgresSQL</md-chip>
                <md-chip  class="chip d50 animated flipInX">Cordova</md-chip>
                <md-chip  class="chip d51 animated flipInX">Google Cloud</md-chip>
            </md-chips>
        </div>
    </div>
</div>